[submodule "app/jni/thirdparty/webp"]
	path = app/jni/thirdparty/webp
	url = https://chromium.googlesource.com/webm/libwebp
	shallow = true
[submodule "app/jni/thirdparty/libyuv"]
	path = app/jni/thirdparty/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
	shallow = true
[submodule "app/jni/thirdparty/libtgvoip"]
	path = app/jni/thirdparty/libtgvoip
	url = https://github.com/TGX-Android/libtgvoip.git
	shallow = true
[submodule "app/jni/thirdparty/ffmpeg"]
	path = app/jni/thirdparty/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
	shallow = true
[submodule "app/jni/thirdparty/lz4"]
	path = app/jni/thirdparty/lz4
	url = https://github.com/lz4/lz4
	shallow = true
[submodule "ExoPlayer"]
	path = thirdparty/ExoPlayer
	url = https://github.com/google/ExoPlayer.git
	shallow = true
[submodule "app/jni/thirdparty/flac"]
	path = app/jni/thirdparty/flac
	url = https://gitlab.xiph.org/xiph/flac.git
	shallow = true
[submodule "app/jni/thirdparty/opus"]
	path = app/jni/thirdparty/opus
	url = https://gitlab.xiph.org/xiph/opus.git
	shallow = true
[submodule "app/jni/thirdparty/opusfile"]
	path = app/jni/thirdparty/opusfile
	url = https://gitlab.xiph.org/xiph/opusfile
	shallow = true
[submodule "app/jni/thirdparty/ogg"]
	path = app/jni/thirdparty/ogg
	url = https://gitlab.xiph.org/xiph/ogg.git
	shallow = true
[submodule "app/jni/thirdparty/libvpx"]
	path = app/jni/thirdparty/libvpx
	url = https://chromium.googlesource.com/webm/libvpx
	shallow = true
[submodule "tdlib"]
	path = tdlib
	url = https://github.com/TGX-Android/tdlib
	shallow = true
[submodule "app/jni/thirdparty/jni-utils"]
	path = app/jni/thirdparty/jni-utils
	url = https://github.com/TGX-Android/jni-utils
	shallow = true
[submodule "vkryl/leveldb"]
	path = vkryl/leveldb
	url = https://github.com/TGX-Android/leveldb
	shallow = true
[submodule "vkryl/core"]
	path = vkryl/core
	url = https://github.com/TGX-Android/X-Core.git
  shallow = true
[submodule "app/jni/thirdparty/rlottie"]
	path = app/jni/thirdparty/rlottie
	url = https://github.com/TGX-Android/rlottie
	shallow = true
[submodule "vkryl/td"]
	path = vkryl/td
	url = https://github.com/TGX-Android/tdlib-utils.git
