[submodule "webp"]
	path = app/jni/third_party/webp
	url = https://github.com/webmproject/libwebp.git
	shallow = true
[submodule "libyuv"]
	path = app/jni/third_party/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
	shallow = true
[submodule "libtgvoip"]
	path = app/jni/third_party/libtgvoip
	url = https://github.com/TGX-Android/libtgvoip.git
	shallow = true
[submodule "ffmpeg"]
	path = app/jni/third_party/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
	shallow = true
[submodule "lz4"]
	path = app/jni/third_party/lz4
	url = https://github.com/lz4/lz4
	shallow = true
[submodule "ExoPlayer"]
	path = thirdparty/ExoPlayer
	url = https://github.com/google/ExoPlayer.git
	shallow = true
[submodule "flac"]
	path = app/jni/third_party/flac
	url = https://github.com/xiph/flac.git
	shallow = true
[submodule "opus"]
	path = app/jni/third_party/opus
	url = https://github.com/xiph/opus.git
	shallow = true
[submodule "opusfile"]
	path = app/jni/third_party/opusfile
	url = https://github.com/xiph/opusfile.git
	shallow = true
[submodule "ogg"]
	path = app/jni/third_party/ogg
	url = https://github.com/xiph/ogg.git
	shallow = true
[submodule "libvpx"]
	path = app/jni/third_party/libvpx
	url = https://github.com/webmproject/libvpx.git
	shallow = true
[submodule "tdlib"]
	path = tdlib
	url = https://github.com/TGX-Android/tdlib
	shallow = true
[submodule "jni-utils"]
	path = app/jni/third_party/jni-utils
	url = https://github.com/TGX-Android/jni-utils
	shallow = true
[submodule "vkryl/leveldb"]
	path = vkryl/leveldb
	url = https://github.com/TGX-Android/leveldb
	shallow = true
[submodule "vkryl/core"]
	path = vkryl/core
	url = https://github.com/TGX-Android/X-Core.git
	shallow = true
[submodule "rlottie"]
	path = app/jni/third_party/rlottie
	url = https://github.com/TGX-Android/rlottie
	shallow = true
[submodule "vkryl/td"]
	path = vkryl/td
	url = https://github.com/TGX-Android/tdlib-utils.git
	shallow = true
[submodule "vkryl/android"]
	path = vkryl/android
	url = https://github.com/TGX-Android/X-Android.git
	shallow = true
[submodule "boringssl"]
	path = app/jni/third_party/boringssl
	url = https://github.com/google/boringssl
	shallow = true
[submodule "usrsctp"]
	path = app/jni/third_party/usrsctp
	url = https://github.com/sctplab/usrsctp
	shallow = true
