<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="org.thunderdog.challegram"
  android:installLocation="auto">

  <uses-sdk tools:overrideLibrary="androidx.camera.camera2, androidx.camera.core, androidx.camera.view, androidx.camera.lifecycle, androidx.camera.extensions, com.otaliastudios.transcoder, com.otaliastudios.opengl, com.linkedin.android.litr, com.linkedin.android.litr.filter" />

  <uses-feature
    android:glEsVersion="0x00020000"
    android:required="true" />
  <uses-feature
    android:name="android.hardware.microphone"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.camera"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.camera.autofocus"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.camera2"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.camera2.full"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.location.gps"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.location"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.location.network"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.telephony"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.bluetooth"
    android:required="false" />

  <supports-screens
    android:anyDensity="true"
    android:largeScreens="true"
    android:normalScreens="true"
    android:resizeable="true"
    android:smallScreens="true"
    android:xlargeScreens="true" />

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.FLASHLIGHT" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.USE_FINGERPRINT" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <!--<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />-->
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <!--<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->

  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

  <uses-permission android:name="${applicationId}.permission.MAPS_RECEIVE" />
  <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

  <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
  <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
  <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
  <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
  <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
  <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />
  <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />
  <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />
  <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
  <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
  <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
  <uses-permission android:name="android.permission.READ_APP_BADGE" />
  <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
  <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
  <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

  <queries>
    <intent>
      <action android:name="com.google.android.youtube.api.service.START" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="*" />
    </intent>
  </queries>

  <application
    android:name="org.thunderdog.challegram.BaseApplication"
    android:allowBackup="false"
    android:fullBackupContent="false"
    android:hardwareAccelerated="true"
    android:icon="@mipmap/app_launcher"
    android:label="@string/AppName"
    android:largeHeap="true"
    android:roundIcon="@mipmap/app_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    android:requestLegacyExternalStorage="true"
    android:preserveLegacyExternalStorage="true"
    tools:targetApi="r">

    <meta-data
      android:name="firebase_analytics_collection_deactivated"
      android:value="true" />
    <meta-data
      android:name="firebase_analytics_collection_enabled"
      android:value="false" />
    <meta-data
      android:name="google_analytics_adid_collection_enabled"
      android:value="false" />
    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="barcode,model2,model3" />

    <service android:name=".service.FirebaseListenerService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
    <service
      android:name=".service.NetworkListenerService"
      android:enabled="true"
      android:exported="false"
      android:stopWithTask="false" />

    <service
      android:name=".service.ForegroundService"
      android:enabled="true"
      android:exported="false"
      android:foregroundServiceType="dataSync"
      android:stopWithTask="false" />

    <service
      android:name=".service.BootListenerService"
      android:enabled="true"
      android:exported="false"
      android:stopWithTask="false">
      <intent-filter>
        <action android:name="${applicationId}.start" />
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </service>

    <provider
      android:name="org.thunderdog.challegram.sync.StubProvider"
      android:authorities="${applicationId}.sync.provider"
      android:exported="false"
      android:syncable="true" />

    <provider
      android:name="androidx.startup.InitializationProvider"
      android:authorities="${applicationId}.androidx-startup"
      android:exported="false"
      tools:node="merge">
      <meta-data
        android:name="androidx.work.WorkManagerInitializer"
        android:value="androidx.startup"
        tools:node="remove" />
    </provider>

    <service
      android:name=".sync.StubAuthenticatorService"
      android:exported="false">
      <intent-filter>
        <action android:name="android.accounts.AccountAuthenticator" />
      </intent-filter>
      <meta-data
        android:name="android.accounts.AccountAuthenticator"
        android:resource="@xml/authenticator" />
    </service>

    <service
      android:name="org.thunderdog.challegram.sync.SyncService"
      android:exported="true">
      <intent-filter>
        <action android:name="android.content.SyncAdapter" />
      </intent-filter>
      <meta-data
        android:name="android.content.SyncAdapter"
        android:resource="@xml/syncadapter" />
    </service>

    <meta-data
      android:name="com.google.android.maps.v2.API_KEY"
      android:value="AIzaSyDzAoJrVB72LgqSZ1LP6Hpp8egGEJVH7PA" />

    <uses-library
      android:name="com.google.android.maps"
      android:required="false" />
    <uses-library
      android:name="org.apache.http.legacy"
      android:required="false" />

    <receiver
      android:name=".receiver.TGShareBroadcastReceiver"
      android:enabled="true" />
    <receiver
      android:name=".receiver.TGRemoveReceiver"
      android:exported="false" />
    <receiver
      android:name=".receiver.TGRemoveAllReceiver"
      android:exported="false" />

    <activity
      android:name=".voip.gui.VoIPPermissionActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
      android:excludeFromRecents="true"
      android:taskAffinity="${applicationId}.voip"
      android:theme="@style/TransparentTheme"
      android:exported="false" />
    <activity
      android:name=".voip.gui.VoIPFeedbackActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
      android:excludeFromRecents="true"
      android:taskAffinity="${applicationId}.voip"
      android:theme="@style/TransparentTheme"
      android:exported="false" />

    <!-- VoIP -->
    <service
      android:name=".service.TGCallService"
      android:exported="false"
      android:foregroundServiceType="phoneCall" />
    <receiver android:name=".receiver.VoIPMediaButtonReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.MEDIA_BUTTON" />
      </intent-filter>
    </receiver>

    <!-- Reply -->
    <receiver
      android:name=".receiver.TGAutoMessageReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="org.thunderdog.challegram.ACTION_MESSAGE_REPLY" />
        <action android:name="org.thunderdog.challegram.ACTION_MESSAGE_HEARD" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".receiver.TGWearReplyReceiver"
      android:enabled="true"
      android:exported="false" />
    <receiver
      android:name=".receiver.TGMessageReceiver"
      android:enabled="true"
      android:exported="false" />

    <!-- Secret -->
    <!--<receiver android:name=".TGSecretCodeReceiver"
              android:enabled="true" android:exported="true"
              android:permission="android.permission.PROCESS_OUTGOING_CALLS">
      <intent-filter>
        <action android:name="android.provider.Telephony.SECRET_CODE"  />
        <data android:scheme="android_secret_code" />
      </intent-filter>
    </receiver>-->

    <receiver
      android:name=".receiver.CallBroadcastReceiver"
      android:enabled="true"
      android:exported="false">
      <intent-filter>
        <action android:name="org.thunderdog.challegram.END_CALL" />
        <action android:name="org.thunderdog.challegram.DECLINE_CALL" />
        <action android:name="org.thunderdog.challegram.ANSWER_CALL" />
      </intent-filter>
    </receiver>

    <!-- Music -->
    <receiver
      android:name=".receiver.AudioMediaReceiver"
      android:exported="false"
      android:enabled="true">
      <intent-filter>
        <action android:name="org.thunderdog.challegram.ACTION_PLAY_SKIP_PREVIOUS" />
        <action android:name="org.thunderdog.challegram.ACTION_PLAY_SKIP_NEXT" />
        <action android:name="org.thunderdog.challegram.ACTION_PLAY_STOP" />
        <action android:name="org.thunderdog.challegram.ACTION_PLAY_PLAY" />
        <action android:name="org.thunderdog.challegram.ACTION_PLAY_PAUSE" />
      </intent-filter>
    </receiver>

    <service
      android:name=".service.AudioService"
      android:exported="false"
      android:foregroundServiceType="mediaPlayback" />
    <service
      android:name=".service.LiveLocationService"
      android:exported="false"
      android:foregroundServiceType="location" />

    <receiver
      android:name=".receiver.LiveLocationReceiver"
      android:enabled="true"
      android:exported="false">
      <intent-filter>
        <action android:name="org.thunderdog.challegram.ACTION_STOP_LOCATION" />
      </intent-filter>
    </receiver>


    <activity
      android:name=".ManageSpaceActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|layoutDirection|uiMode"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustPan"
      android:exported="true" />

    <activity
      android:name=".MainActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|locale|layoutDirection|uiMode"
      android:launchMode="singleTask"
      android:windowSoftInputMode="stateHidden|adjustPan"
      android:exported="true">
      <intent-filter android:label="@string/AppName">
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!-- Share from other apps -->
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="video/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND_MULTIPLE" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="*/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND_MULTIPLE" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="*/*" />
      </intent-filter>

      <!-- Telegram URLs -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="t.me"
          android:scheme="http" />
        <data
          android:host="t.me"
          android:scheme="https" />
        <data
          android:host="tx.me"
          android:scheme="http" />
        <data
          android:host="tx.me"
          android:scheme="https" />
        <data
          android:host="telegram.me"
          android:scheme="http" />
        <data
          android:host="telegram.me"
          android:scheme="https" />
        <data
          android:host="telegram.dog"
          android:scheme="http" />
        <data
          android:host="telegram.dog"
          android:scheme="https" />
      </intent-filter>
      <intent-filter
        android:icon="@mipmap/app_launcher_round"
        android:priority="1"
        android:roundIcon="@mipmap/app_launcher_round">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.DEFAULT" />

        <data android:scheme="tg" />
      </intent-filter>
    </activity>

    <provider
      android:name=".FileProvider"
      android:authorities="${applicationId}.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths" />
    </provider>

    <uses-library
      android:name="com.sec.android.app.multiwindow"
      android:required="false" />

    <meta-data
      android:name="com.sec.android.support.multiwindow"
      android:value="true" />
    <meta-data
      android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
      android:value="632dp" />
    <meta-data
      android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
      android:value="598dp" />
    <meta-data
      android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
      android:value="632dp" />
    <meta-data
      android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
      android:value="598dp" />

    <meta-data
      android:name="com.samsung.android.icon_container.has_icon_container"
      android:value="true" />
  </application>
</manifest>