<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  android:installLocation="auto">
  <application>
    <meta-data
      android:name="firebase_messaging_installation_id_enabled"
      android:value="true" />
  </application>
</manifest>